<h2>Posts</h2>

<br/>
<hr/>
<br/>
<br/>

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="content">
            <mat-header-cell *matHeaderCellDef>Content</mat-header-cell>
            <mat-cell *matCellDef="let post;">{{post.Content}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
            <mat-cell *matCellDef="let post;">{{post.CreationDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="edited">
            <mat-header-cell *matHeaderCellDef>Edited</mat-header-cell>
            <mat-cell *matCellDef="let post;">{{post.Edited}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let post;"><button mat-raised-button (click)="edit(post.Id)">Edit</button> <p></p> <button mat-raised-button (click)="delete(post.Id)">Delete</button></mat-cell>
        </ng-container>
    </mat-table>
</div>

<br/>
<br/>
<hr/>
<br/>

<button mat-raised-button (click)="reply()" color="primary">Reply</button>